.app-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}


.contentbody {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 40px;
  background-color: chartreuse;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: chocolate;
  color: #fff;
}